@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.carousel-item img {
    min-height: 300px;
}

.carousel-item::after {
    content: "";
    display: block;
    background: black;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.6;
    z-index: 1;
}

.carousel-caption {
    z-index: 2;
}

.carousel-caption h1 {
    font-size: 4.5em;
    margin-top: 4%;
}

.top-space {
    margin-top: 100px;
}

@media screen and (max-width:992px) {
    .carousel-caption h1 {
        font-size: 3em;
    }
}

@media screen and (max-width:768px) {
    .carousel-caption h1 {
        font-size: 2em;
    }
    .carousel-caption p {
        font-size: 10px;
    }
    .top-space {
        margin-top: 50px;
    }
}